<html>
  <head>
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:type" content="<%= GLOBAL.globalConfig.facebook.name_space %>:product"/>
    <!-- meta property="og:url" content="<%= url %>" -->
    <meta property="og:image" content="<%= GLOBAL.globalConfig.image_path %><%= image %>"/>
    <meta property="og:description" content="<%= description %>"/>
  </head>
  <body>
  </body>
</html>